/* Styles général */
body {
  margin: 0;
  padding: 0;
}

/* Styles pour les petits écrans */
@media (max-width: 2000px) {
  #carte {
    height: calc(100vh - 60px); /* Utilise presque toute la hauteur de l'écran */
    width: 100vw; /* Utilise toute la largeur de l'écran */
  }

  #requete {
    font-size: 10px;
    text-align: center;
    margin: 10px 0; /* Ajouter de la marge en haut et en bas */
    padding: 5px;
    width: 80%; /* Prend toute la largeur disponible */
    position: absolute;
    bottom: 20px; /* Positionne la sélection en bas */
    left: 10%; /* Centrer la sélection */
    right: 10%;
  }

  #titreCarte, #nom, .leaflet-control-layers {
    display: none; /* Cache le titre, le nom et la légende */
  }
}

/* Styles pour la carte */
#carte {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #323232;
}

/* Styles pour la carte */
#carte {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #323232;
}

/* Style pour le titre de la carte */
#titreCarte {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #9197F3;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    font-size: 22px;
    z-index: 402;
}

/* Style pour mon nom */
#nom {
  position: absolute;
  bottom: 24px;
  right: 4px;
  background-color: #9197F3;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  z-index: 402;
}

/*Style de legende*/
#legend {
  position: absolute;
  top: 10px;
  left: 55px;
  background-color: #b4b4b4c2;
  padding: 3px;
  font-size: 14px;
  z-index: 402;
  text-align: center;
}

/* Styles pour la fonction de requete */
#requete {
  position: absolute;
  top: 12px;
  right: 60px;
  background-color: #9197F3;
  padding: 8px;
  z-index: 401;
}

/* Styles pour les sélecteurs */
select {
  background-color: #adb2f1;
  color: black;
  /* Couleur du texte */
  border: 4px solid #c7caee;
  /* Bordure */
  padding: 2px;
  border-radius: 5px;
}

option {
  background-color: #e8ebc6;
  /* Couleur de fond des options */
  color: black;
  /* Couleur du texte des options */
}

/* Styles pour le bouton des couches */
.leaflet-control-layers-toggle {
  background-image: url('https://static-00.iconduck.com/assets.00/basemap-icon-512x512-yl5lmlek.png');
  /* Chemin vers icône */
  background-size: 35px 35px;
  /* Taille de l'image */
  background-color: #e8ebc6;
}

.leaflet-control-layers-list {
  background-color: #c7caee;
  /* Couleur de fond */
  color: black;
  /* Couleur du texte */
  padding: 6px; /*ajoute un offset à la couleur */
  border-radius: 5px; /* Arrondie le fond */
}

/* Styles pour les icons */
.hike-VisitedIcon {
  background-image: url('https://static.thenounproject.com/png/5026465-200.png');
  background-size: cover;
  background-color: green;
  border: 2px solid rgb(0, 71, 0);
  /*permet de mettre un border pour que sa soit plus beau*/
  width: 25px;
  height: 41px;
  border-radius: 50%;
  /*pour mettre les icons rond*/
}

.hike-NotVisitedIcon {
  background-image: url('https://static.thenounproject.com/png/5026465-200.png');
  background-size: cover;
  background-color: rgb(196, 2, 2);
  border: 2px solid rgb(156, 2, 2);
  width: 25px;
  height: 41px;
  border-radius: 50%;
}

.mtb-VisitedIcon {
  background-image: url('https://static.thenounproject.com/png/364631-200.png');
  background-size: cover;
  background-color: green;
  border: 2px solid rgb(0, 71, 0);
  width: 25px;
  height: 41px;
  border-radius: 50%;
}

.mtb-NotVisitedIcon {
  background-image: url('https://static.thenounproject.com/png/364631-200.png');
  background-size: cover;
  background-color: rgb(196, 2, 2);
  border: 2px solid rgb(156, 2, 2);
  width: 25px;
  height: 41px;
  border-radius: 50%;
}

.kayak-VisitedIcon {
  background-image: url('https://cdn-icons-png.flaticon.com/128/9938/9938038.png');
  background-size: cover;
  background-color: green;
  border: 2px solid rgb(0, 71, 0);
  width: 25px;
  height: 41px;
  border-radius: 50%;
}

.kayak-NotVisitedIcon {
  background-image: url('https://cdn-icons-png.flaticon.com/128/9938/9938038.png');
  background-size: cover;
  background-color: rgb(196, 2, 2);
  border: 2px solid rgb(156, 2, 2);
  width: 25px;
  height: 41px;
  border-radius: 50%;
}

/* Permet de modifier l'icon de position de l'utilisateur */
.position-de-lUsager {
  background-image: url('https://pic.onlinewebfonts.com/thumbnails/icons_467221.svg');
  background-size: cover;
  background-color: #e9e9f5b0;
  border: 2px solid #000000;
  border-radius: 30%;
}

/* Pour modifier le boutton de retour à la position de l'utilisateur */
.leaflet-bar .easy-button-button {
  background-color: #9197F3; 
  color: #e8ebc6;  /* couleur de l'icône */
  border: none;  /* Supprimer la bordure */
}

/* Changer la couleur de fond au survol */
.leaflet-bar .easy-button-button:hover {
  background-color: #e8ebc6;  
  color: #000000;
}
